<div class="contact-us">
  <h1>Love 🖤 to hear from You.</h1>
  <div class="row">
    <div class="col-md-9">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima ipsum maiores vel aut ullam consequatur sunt debitis quidem! Et quidem molestiae voluptate praesentium dolores eos id asperiores nulla dolorem quaerat?
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima ipsum maiores vel aut ullam consequatur sunt debitis quidem! Et quidem molestiae voluptate praesentium dolores eos id asperiores nulla dolorem quaerat?
      <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d14007.22897313261!2d77.2636449535745!3d28.635538660605956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e9!4m3!3m2!1d28.64042!2d77.2752217!4m5!1s0x390ce35319b6a7ff%3A0x127dca80423ad527!2sLaxmi%20Nagar%2C%20Block%20S1%2C%20Nanakpura%2C%20Shakarpur%2C%20Delhi%2C%20110092!3m2!1d28.6275609!2d77.2784081!5e0!3m2!1sen!2sin!4v1723810502902!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-3 address">
      <h3>Postal Address</h3>
      <p>
        Address 1
        Address 2 <br>
        City
        State
        Country <br>
        Pin Code - 110034
      </p>
      <h3>Email</h3>
      <p><strong>Office:</strong>sample&#64;gmail.com</p>
      <p><strong>Personal:</strong>sample&#64;gmail.com</p>
      <h3>Phone</h3>
      <p><strong>Office:</strong>+91 987654321</p>
      <p><strong>Personal:</strong>+91 987654321</p>
    </div>
  </div>
</div>
