<br>
<div class="row">
  <div class="col-md-10">
    <strong>All User List 😄</strong>
  </div>
  <div class="col-md-2">
    <button class="btn btn-dark float-right" (click)="addUserPopup()" data-bs-toggle="modal" data-bs-target="#myModal">
      Add New User</button>
  </div>
</div>
<table class="table table hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">DOB</th>
      <th scope="col">City</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user_data of all_user_data; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{user_data.name}}</td>
      <td>{{user_data.mobile}}</td>
      <td>{{user_data.email}}</td>
      <td>{{user_data.dob}}</td>
      <td>{{user_data.address.city}}</td>
      <td>{{user_data.role}}</td>
      <td>
        <span class="sim-pointer" (click)="editUserPopup(user_data.id)" data-bs-toggle="modal" data-bs-target="#myModal">Edit</span>&nbsp;&nbsp;
        <span class="sim-pointer" (click)="deleteUser(user_data.id)">Del</span>
      </td>
    </tr>
  </tbody>
</table>



<!-- Modal -->
<div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="myModalLabel">{{popup_header}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form [formGroup]="addEditUserForm">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="form-group">
                <label for="mobile">Mobile No</label>
                <input type="text" class="form-control" formControlName="mobile">
              </div>
              <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" formControlName="age">
              </div>
              <div class="form-group">
                <label for="dob">Enter DOB</label>
                <input type="date" class="form-control" formControlName="dob">
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" formControlName="email">
                </div>
                <div class="form-group col-md-6">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="form-group">
                  <label for="addLine1">Address</label>
                  <input type="text" class="form-control" formControlName="addLine1">
                </div>
                <div class="form-group">
                  <label for="addLine2">Address 2</label>
                  <input type="text" class="form-control" formControlName="addLine2">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="city">City</label>
                  <input type="text" class="form-control" formControlName="city">
                </div>
                <div class="form-group col-md-4">
                  <label for="state">State</label>
                  <select id="inputState" class="form-control" formControlName="state">
                    <option selected>Choose..</option>
                    <option>Delhi</option>
                    <option>Chandigarh</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="pincode">Pincode</label>
                  <input type="text" class="form-control" formControlName="pincode">
                </div>
              </div>
              <div class="form-group">
                <label for="language">Language</label>
                <select class="form-control" formControlName="language">
                  <option>English</option>
                  <option>Hindi</option>
                  <option>German</option>
                  <option>Telugu</option>
                  <option>Bhojpuri</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect2">Gender</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="gender" value="Male">
                  <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="gender" value="Female">
                  <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="gender" value="Other">
                  <label class="form-check-label" for="inlineRadio3">Other (disabled)</label>
                </div>
              </div>
              <div class="form-group">
                <label for="aboutYou">Something About You</label>
                <textarea class="form-control" rows="3" formControlName="aboutYou"></textarea>
              </div>
              <div class="form-group">
                <label for="uploadPhoto">Upload Your Photo</label>
                <span *ngIf="edit_user"><span>Upload image</span><br>{{upload_file_name}} <span> <a
                  href="">Preview</a></span></span>
                <input type="file" class="form-control-file" formControlName="uploadPhoto">
              </div>
              <div class="form-group">
                <input type="checkbox" class="form-check-inline" formControlName="agreetc">
                <label for="agreetc" class="form-check-inline">Terms & Conditions</label>
              </div>
              <div class="form-group">
                <label for="role">Buyer/Seller</label>
                <select class="form-control" formControlName="role">
                  <option value="Admin">Admin</option>
                  <option value="seller">Seller</option>
                  <option value="buyer">Buyer</option>
                </select>
              </div>
              <div class="form-group">
                <button *ngIf="add_user" class="btn btn-primary" type="submit" data-bs-dismiss="modal" (click)="addUser()">Register</button>
                <button *ngIf="edit_user" class="btn btn-primary" type="submit" data-bs-dismiss="modal" (click)="updateUser()">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
