<br>
<div class="d-flex justify-content-between">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Buyer</a></li>
    <li class="breadcrumb-item" [routerLink]="['/buyer-dashboard']"  ><a href="#">Products</a></li>
  </ol>
</nav>
<div class="d-flex" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="inputString" >
  <button class="search-btn" >Search</button>
</div>
</div>

<div class="row">
  <ng-container *ngFor="let product of all_products">
  <div class="col-sm-4 product" *ngIf="product.name.toLowerCase().includes(inputString)">
    <div class="card">
      <img src="{{product.uploadPhoto}}" alt="{{product.name}}" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">{{product.name}}</h4>
        <p>
          <span class="float-left"><strong>MRP</strong>:<del>{{product.mrp}}</del></span>&nbsp;
          <span class="float-right"><strong>DP</strong>:{{product.discount}}</span>
        </p>
        <br>
        <p class="card-text product-desc">{{product.productDesc}}</p>
        <a (click)="addToCart()" class="btn btn-warning float-left">Add to cart</a>&nbsp;
        <a (click)="buyProduct(product.id)" class="btn btn-primary float-left">Buy Now</a>
      </div>
    </div>
  </div>
</ng-container>
</div>
